<% if target.errors.any? %>
<div id="errorExplanation">
  <h2><%= pluralize(target.errors.count, "error") %> happened:</h2>
  <ul>
  <% target.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<% if flash[:error] %>
    <%= flash[:error] %>
<% end %>
