<h1>Create new game</h1>

<

Input a word of 5 to 8 letters

<% form_for @game do |f| %>
    <%= render "games/error_messages.html.erb", :target => @game %>
    <%= f.text_field :letters %><br />
    <%= f.submit %>
<% end %>
