<h1>Game#show</h1>
<%= render "error_messages", :target => @game %>
<table>
<tr>

<% index = 1 %>

<% @game.letters.force_encoding('UTF-8').split(//).each do |item| %>

    <td class="lettercell" id="cell_<%= index %>"><%= item %></td>

    <% if index % @game.row_letters == 0 %>
      </tr><tr>
    <% end %>

    <% index += 1 %>

<% end %>

</tr>
</table>